<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
    <div class="form-container">
		<div class="titre"><h2>Formulaire de connexion</h2></div>
		<form action="/loginL" method="POST">
			<label>Email:</label>
			<input type="email" placeholder="Email" name="email" required><br>
			<label>Mot de passe:</label>
			<input type="password" placeholder="Mot de passe"  name="mdp" required><br><br>
			<input type="submit" value="S'inscrire">
		</form>
	</div>
</body>
</html>